

:root {
    --GREEN: #19b352;
    --BUTTON: #0b973e;
    --BUTTON-HOVER: #075823;
    --LIGHTGREEN: #19b352c9;
    --NAVGREEN: #0b973e;
    --SEARCH-BAR-GREEN: #3ed575;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 200px;
    font-size: 125px;
    color: black;
    text-align: center;
}

.a-button {
    display: inline-block;
    margin-top: 30px;
    color:black;
    font-size: 30px;
    background-color: var(--BUTTON);
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    border: solid var(--BUTTON-HOVER);
}

.a-button:hover {
    background-color: var(--BUTTON-HOVER);
    border: solid black;
    color: white;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    font-size: 30px;
}

h3 {
    margin-top: 200px;
    font-size: 40px;
}

nav {
    text-align: left; 
    padding: 15px;
    background-color: var(--NAVGREEN);
    font-size: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
}

#main-welcome {
    background-color:var(--GREEN);
}

.body {
    background-color: var(--GREEN);
}

ol {
    position: relative;
    left: 30px;
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-around; /* or space-between */
    margin: 20px;
}

.table-container {
    width: 45%; /* Adjust the width as needed */
    border: 1px solid var(--BUTTON-HOVER);
    background-color: var(--NAVGREEN);
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

li {
    margin: 10px 0px;
}

.home-images {
    display: flex;
    justify-content: center; /* Aligns the image horizontally */
    align-items: center;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 5px 0px;
}

#welcome {
    text-align: left;
    font-weight: 400;
}

.heading {
    font-size: 27px;
}

.select {
    background-color: var(--BUTTON-HOVER);
    color: white;
    border-radius: 15px;
    padding: 2px;
    font-size: 17px;
    text-align: center;
    margin: 5px;
    border: 0.5px solid black;
}

.nav-bar {
    display: flex;
    padding: 5px 20px;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
    height: 60px;
}

#logo {
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    margin: 0;
}

#logo:hover {
    text-decoration: none;
}

.nav-bar-no-logo {
    width: 65%;
    display: flex;
    align-items: center;
}

.nav-items-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Changed to 100% to utilize full available width */
}

#profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: right;
}

.nav-items {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    font-size: 25px;
    align-items: center; /* Align items vertically */
    width: 100%;
    justify-content: space-around;
}

.nav-items li {
    margin: 5px;
}

.search-div {
    margin-top: 175px;
}

.search-button {
    font-size: 25px;
    background-color: var(--BUTTON);
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    border: solid var(--BUTTON-HOVER) 1px;

}

.search-button:hover {
    background-color: var(--BUTTON-HOVER);
    color: white;
    border: solid black 1px;
}

.search-bar {
    font-size: 25px;
    border-radius: 25px;
    padding: 5px 10px;
    width: 30%;
    background-color: var(--SEARCH-BAR-GREEN);
    border: solid var(--BUTTON-HOVER) 0.5px;
}

.search-bar:focus {
    border: solid black 1.5px;
    outline: none;
}

.search-bar::placeholder {
    color: var(--BUTTON-HOVER);
}

.view-stats-container {
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
}

.view-stats {
    margin: 0px 25px;
    padding: 5px;
    color: black;
    background-color: var(--LIGHTGREEN);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    border-radius: 15px;
    border: solid var(--BUTTON-HOVER) 0.5px;
}

.view-stats:hover {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: solid var(--BUTTON-HOVER) 1px;
}

.track-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-item {
    margin: 25px 0px;
}

li {
    list-style-type: none; /* Remove bullets */
}

.stats-list {
    margin: 30px 5px;
    display: flex;
    text-align: left;
}

.stats-list ul li {
    margin-bottom: 25%;
}

.stats-and-pic {
    display: flex;
    justify-content: space-between;
}

.details-img {
    margin: 30px 5px;
    width: 50%;
    height: 25%;
    box-shadow: 0 0 10px black;
}

.bold-text {
    font-weight: bold;
}