{% extends "layout1.html" %}

{% block title %}
    {{ artist_details.name }}
{% endblock %}

{% block main %}

<div class="container">
    <div class="table-container">
        <h4 class="heading">
            {{ artist_details.name }}
        </h4>  

        <div class="stats-and-pic">
            <div class="stats-list">
                <ul>
                    <li><span class="bold-text">Followers:</span> {{ artist_details.followers.total }}</li>
                    <li>
                        <span class="bold-text">Genres:</span>
                        {% for genre in artist_details.genres %}
                            {{ genre }}{% if loop.index0 + 1 != artist_details.genres | length %},{% endif %}
                        {% endfor %}
                    </li>
                    <li><span class="bold-text">Popularity:</span> {{ artist_details.popularity }}</li>


                </ul>    
            </div>
            <img src="{{ artist_details.images[0].url }}" alt="" class="details-img">

        </div>
    </div>
</div>

{% endblock %}