{% extends "layout1.html" %}

{% block title %}
    Home
{% endblock %}

{% block js %} 
<script>
    function autoSubmitForm1() {
        document.getElementById('tracks-time-period').submit();
    }

    function autoSubmitForm2() {
        document.getElementById('artists-time-period').submit();
    }
</script>

{% endblock %}

{% block main %}

<h2 id="welcome">
    Welcome {{ user_name }},
</h2>

<div class="container">
    <div class="table-container"> 
        <h4 class="heading">Top Tracks</h4> 
        <form id="tracks-time-period" action="/home" method="get">
            <select name="track-time" onchange="autoSubmitForm1()" class="select">
                <option value="short_term" {% if track_time_range == 'short_term' %}selected{% endif %}>This Month</option>
                <option value="medium_term" {% if track_time_range == 'medium_term' %}selected{% endif %}>6 Months</option>
                <option value="long_term" {% if track_time_range == 'long_term' %}selected{% endif %}>This Year</option>
            </select>   
            <!-- Hidden input to store the current artist-time value -->
            <input type="hidden" id="hidden-artist-time" name="artist-time" value="{{ artist_time_range }}">
        </form>     
        <ol>
            {% for track in top_tracks %}

                    <li class="list-item">
                        <div>
                            {{ track["name"] }} - 
                            {% for artist in track["artists"] %}
                                {{ artist["name"] }}{% if loop.index0 + 1 != track["artists"] | length %},{% endif %}
                            {% endfor %}
                        </div>
                        <div class="track-details">
                            <img src="{{ track.cover }}" alt="" class="home-images">

                            <div class="view-stats-container">
                                <form action="/track-stats-details" method="post">
                                    <input type="hidden" name="trackid" value="{{ track.id }}">
                                    <button type="submit" class="view-stats">View Stats</a>
                                </form>
                            </div>
                        </div>
                    </li>
            {% endfor %}
        </ol>   
    </div>
    <div class="table-container">
        <h4 class="heading">Top Artists</h4>
        <form id="artists-time-period" action="/home" method="get">
            <select name="artist-time" onchange="autoSubmitForm2()" class="select">
                <option value="short_term" {% if artist_time_range == 'short_term' %}selected{% endif %}>This Month</option>
                <option value="medium_term" {% if artist_time_range == 'medium_term' %}selected{% endif %}>6 Months</option>
                <option value="long_term" {% if artist_time_range == 'long_term' %}selected{% endif %}>This Year</option>
            </select>   
            <!-- Hidden input to store the current track-time value -->
            <input type="hidden" id="hidden-track-time" name="track-time" value="{{ track_time_range }}">
        </form>   
        <ol>
            {% for artist in top_artists %}
                <li class="list-item">
                    <div>{{ artist["name"] }}</div>
                    <div class="track-details">
                        <img src="{{ artist.image }}" alt="" class="home-images">

                        <div class="view-stats-container">
                            <form action="/artist-stats-details" method="post">
                                <input type="hidden" name="artistid" value="{{ artist.id }}">
                                <button type="submit" class="view-stats">View Stats</a>
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
    
{% endblock %}



