<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- styles.css -->
    <link rel="stylesheet" href="/static/styles.css">

    <!-- js -->
     {% block js %} {% endblock %}
</head>
<body class="body">
    <nav class="nav-bar">
        <a href="/home" id="logo">Statstify</a>
        <div class="nav-bar-no-logo">
            <div class="nav-items-container">
                <ul class="nav-items">
                    <a href="/song-stats">Song Stats</a>
                    <a href="/artist-stats">Artist Stats</a>
                    <a href="/playlists">Playlists</a>

                </ul>
            </div>
            <img src="{{ user_profile_pic }}" alt="" id="profile-pic">
        </div>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>
