{% extends "layout1.html" %}

{% block title %}
    {{ track_details.name }}
{% endblock %}

{% block main %}

<div class="container">
    <div class="table-container">
        <h4 class="heading">
            {{ track_details.name }} -
            {% for artist in track_details.artists %}
                {{ artist["name"] }}{% if loop.index0 + 1 != track_details["artists"] | length %},{% endif %}
            {% endfor %}
        </h4>  

        <div class="stats-and-pic">
            <div class="stats-list">
                <ul>
                    <li><span class="bold-text">Key:</span> {{ getkey(track_stats.key) }} {{ getmode(track_stats.mode)}}</li>
                    <li><span class="bold-text">Tempo:</span> {{ track_stats.tempo }} BPM</li>
                    <li><span class="bold-text">Time Signature:</span> {{ gettime_signature(track_stats.time_signature) }}</li>
                    <li><span class="bold-text">Mood:</span> {{getvalence(track_stats.valence) }}</li>
                </ul>
            </div>
            <img src="{{ track_details.album.images[0].url }}" alt="" class="details-img">
        </div>
    </div>
</div>

{% endblock %}