<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <!-- styles.css -->
    <link rel="stylesheet" href="/static/styles.css">

    <!-- js -->
     {% block js %} {% endblock %}
</head>
<body class="body">
    <nav class="nav-bar">
        <h4 id="logo">Statstify</h4>
    </nav>

    <main>
        <h3>Successfully logged in</h3>
        <div>
            <a href="/home" class="a-button">Continue</a>
        </div>    
    </main>
</body>
</html>
